[Unit]
Description=Sysfs flashlight controller
After=org.droidian.Flashlightd.service

[Service]
Type=simple
ExecStart=/opt/droidatoll-sysfs-torch/bin/droidatoll-sysfs-torch
Restart=on-failure
